@tailwind base;
@tailwind components;
@tailwind utilities;

.inter-text {
	font-family: "Inter", sans-serif;
}

.H-one {
	font-family: "Inter", sans-serif;
	font-size: 200px;
	line-height: 200px;
	letter-spacing: -5;
}
.H-two {
	font-family: "Inter", sans-serif;
	font-size: 56px;
	font-weight: bold;
	line-height: 68px;
}
.H-three {
	font-family: "Inter", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	letter-spacing: -4, 8;
	text-transform: uppercase;
}
.H-four {
	font-family: "Inter", sans-serif;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 4;
}
.H-five {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	line-height: 28px;
}
.H-six {
	font-family: "Inter", sans-serif;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 3;
}
.body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	line-height: 28px;
}

.button {
	font-family: "Inter", sans-serif;
	background-color: #fff;
	border: none;
	color: black;
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 4px;
	border-radius: 32px;
}
.rotate-180 {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}
