@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Sedgwick Ave", cursive;
}
@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

.animate-spin {
	animation: spin 4s linear infinite;
}

.custom-dotted-border {
	border-style: solid;
	border-width: 1px;
	border-image-source: url("./assets/skateboard-icon.png");
	border-image-slice: 1 fill;
	border-image-repeat: repeat;
}

.inter-text {
	font-family: "Inter", sans-serif;
}

.H-one {
	font-family: "Inter", sans-serif;
	font-size: 200px;
	line-height: 200px;
	letter-spacing: -5;
}
.H-two {
	font-family: "Inter", sans-serif;
	font-size: 56px;
	font-weight: bold;
	line-height: 68px;
}
.H-three {
	font-family: "Inter", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	letter-spacing: -4, 8;
	text-transform: uppercase;
}
.H-four {
	font-family: "Inter", sans-serif;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 4;
}
.H-five {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	line-height: 28px;
}
.H-six {
	font-family: "Inter", sans-serif;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 3;
}
.body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	line-height: 28px;
}

.button {
	font-family: "Inter", sans-serif;
	background-color: #fff;
	border: none;
	color: black;
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 4px;
	border-radius: 32px;
}
.rotate-180 {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	20% {
		transform: translateY(90%);
	}
	40% {
		transform: translateY(80%);
	}
	60% {
		transform: translateY(70%);
	}
	80% {
		transform: translateY(60%);
	}
	100% {
		transform: translateY(50%);
	}
}
.lower-tab {
	color: #000;
	position: relative;
	bottom: 15%;
	width: 100%;
	background-color: #fff;
	animation: slideUp 0.1s ease forwards;
}

.rotate-scale-down {
	-webkit-animation: rotate-scale-down 3s linear infinite both;
	animation: rotate-scale-down 3s linear infinite both;
}
@-webkit-keyframes rotate-scale-down {
	0% {
		-webkit-transform: scale(1) rotateZ(0);
		transform: scale(1) rotateZ(0);
	}
	50% {
		-webkit-transform: scale(0.5) rotateZ(180deg);
		transform: scale(0.5) rotateZ(180deg);
	}
	100% {
		-webkit-transform: scale(1) rotateZ(360deg);
		transform: scale(1) rotateZ(360deg);
	}
}
@keyframes rotate-scale-down {
	0% {
		-webkit-transform: scale(1) rotateZ(0);
		transform: scale(1) rotateZ(0);
	}
	50% {
		-webkit-transform: scale(0.5) rotateZ(180deg);
		transform: scale(0.5) rotateZ(180deg);
	}
	100% {
		-webkit-transform: scale(1) rotateZ(360deg);
		transform: scale(1) rotateZ(360deg);
	}
}
